.App {
  text-align: center;
}

.app {
  background-color: grey;
}
.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
  color: white;
  z-index: 10;
}
.content {
  margin-top: 3rem;
  position: relative;
  background-color: green;
}
.sidebar {
  width: max-content;
  position: sticky;
  top: 2rem;
  min-height: 100dvh;
  background-color: yellow;
}
.content-text {
  color: white;
  height: 100vh;
}
